# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec

# Node
node_modules/
package-lock.json

# Android build
android/app/build/
android/.gradle/
android/build/
android/capacitor-*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# App data
*.db
*.log
